# Core functionality - changes here should be rare!
/src/app.py                   @astettnerPTG
/src/backend/database.py      @astettnerPTG
/src/backend/routers/auth.py  @astettnerPTG

# The frontend will need refactored soon to be more object oriented.
/src/static/   @astettnerPTG
